img {
    height: 80px;
    width: 80px;
}

.mainBody {
    margin: 60px;
}

table {
    margin: auto;
    border-style: dashed; 
    padding: 20px;
}

thead {
    font-weight: bolder;
}

.planetsDescription {
    width: 45%;
    float: left;
}

.planetsTable {
    width: 45%;
    float:right;
}

input {
    margin-top: 4px;
}