.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

h4 {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.glyphicon-lock {
    line-height: 1.3;
}

.logoutBtn {
    cursor: pointer;
}